/* Responsive styles */
@media (max-width: 768px) {
    h1, h2,
    .h1, .h2 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.2;
    }
    
    h1, .h1 {
      font-weight: 800;
      font-size:30px;
    }
    
    h2, .h2 {
      font-weight: 700;
      font-size: 25px;
    }
    h5, .h5 {
      font-weight: 500;
      font-size: 18px;
    }
    img.sand-creek {
    height:400px;
}
  .intro_contents h5{
  width: 100%;
}
.intro_section {
    height: 52vh;
}
.containerr{
  width: 100%;
}
 .contact_sec {
      height: 60vh;
    }
        .contact-form {
      box-shadow: none;
    }
    .img-border {
    min-height: 250px;
}


  
  }
